<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Elder Scrolls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/favicon.ico"> <!--favicon from icons8.com-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
<!--Main div-->
<div id="app" v-cloak>
    <div id="loading">Loading... </div>
    <!--Header containing title and search bar -->
    <div class="jumbotron">
        <div class="container">
            <div class="title">
                <h1>Elder Scrolls Legends</h1>
            </div>
            <form class="search-bar" v-on:submit.prevent="onSubmit">
                <input type="text" placeholder="Search for Cards" required v-model="search" v-on:change="inputClear">
                <input type="submit" value="Search" class="btn-primary">
            </form>
        </div>
    </div>

    <!--Displays cards and results-->
    <div class="main container">
         <div> 
            <div v-if="loading">
                Loading...
            </div>
            <div v-if="cards.length===0 && !loading">Sorry! No results for search term <em>'{{ lastSearch }}'</em></div> 
            <div v-if="lastSearch && !loading && cards.length!=0"><h5>Showing results for search term '<em>{{ lastSearch }}</em>' </h5></div>
            <ul class="card-list pr-5">
                <!-- Dynamically creates card grid -->
                <li v-for="card in cards" v-bind:key="cards.name">
                    <div classs="card container p-5">
                        <img class="card-img-top" v-bind:src="card.imageUrl">
                        <div class="card-body"> 
                            <h5 class="card-title text-center"> {{card.name}} </h4>
                            <h6 class="card-subtitle mb-2 text-muted text-center">
                                {{card.set.name}}
                            </h6>
                            <h6 class="card-subtitle mb-2 text-muted text-center">
                                Type: {{card.type}}
                            </h6>
                            <p class="card-text">{{card.text}}</p>
                        </div>
                    </div>
                </li>
            </ul>
                <!--Div to keep track of when user has scrolled to the bottom of the page -->
                <div id="card-list-bottom"></div> 
            </div>

            
        </div>
       
    </div>


    <!-- Scripts -->
    <script src="/reload/reload.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/node_modules/vue/dist/vue.js"> </script>
    <script type="text/javascript" src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script type="text/javascript" src="node_modules/scrollmonitor/scrollMonitor.js"></script>
    <script type="text/javascript" src="node_modules/axios/dist/axios.js"></script>
    <script type="text/javascript" src="public/script.js"></script>

    </body>
</html>
